[submodule "m293"]
	path = m293
	url = https://github.com/NicoM77/m293
[submodule "m164"]
	path = m164
	url = https://github.com/NicoM77/m164
[submodule "m231"]
	path = m231
	url = https://github.com/NicoM77/m231
[submodule "m122"]
	path = m122
	url = https://github.com/NicoM77/m122
[submodule "m431- datalyzer"]
	path = m431- datalyzer
	url = https://github.com/gabrielgreco11/datalyzer
[submodule "m319"]
	path = m319
	url = https://github.com/TBZ-Education/m319-NicoM77.git
